@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'libs/animate';

.container {
    display: block;
    margin: 0 auto;
    max-width: 1140px;
}
section {
    background-color: #0c0c0c;
}
.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    z-index: 20;
}

@import 'blocks/_promo';
@import 'blocks/_title';
@import 'blocks/_sidepanel';
@import 'blocks/about';
@import 'blocks/divider';
@import 'blocks/hamburger';
@import 'blocks/resume';
@import 'blocks/skill';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';




@import 'media/media';
