.portfolio {
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(2,280px);
        gap: 5px;
        grid-auto-rows: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
        }
        .horizontal {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
        }
    }
    &__item {
        transition: 0.5s all;
        filter: grayscale(50%);
        img {
            width: 100%;
        }
        &:hover {
            transform: scale(1.02);
            filter: grayscale(0%);
        }
    }
    &__slider {
        position: relative;
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }
    &__window {
        display: block;
        overflow: hidden;
        width: 85%;
        margin: 0 auto;
        
    }
    &__image {
        width: 100%;
        img {
            width: 100%;
        }
    }
    
}