@media (max-width: 1199px) {
    .container {
        width: 900px;
        position: relative;
    }
    .promo {
        .title__fz20 {
            font-size: 19px;
        }
        &__title {
            font-size: 40px;
            line-height: 55px;
        }
    }
    .about {
        &__main_photo {
            max-width: 300px;
            height: 440px;
        }
        .title__fz20 {
            font-size: 19px;
        }
        .title__fz36 {
            font-size: 28px;
        }
        &__descr {
            font-size: 15px;
        }
        &__skill {
            width: 220px;
        }
        &__information {
            margin-right: 50px;
            max-width: 460px;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 25px;
            column-gap: 10px;
        }
    }
    .skill {
        &__items {
            grid-template-columns: repeat(3, 270px);

        }
        &__percents {
            grid-template-columns: repeat(2, 370px);

        }
    }
    .portfolio {
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(4,200px);
            grid-template-rows: repeat(2,200px);
        }
    }
    .price {
        &__wrapper {
            max-width: 860px;
        }
    }
    .contacts {
        &__wrapper {
            max-width: 830px;
            grid-template-columns: 300px 500px;
        }
        &__form {
            grid-template: 42px 190px 40px / repeat(2,200px);
        }
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 660px;
    }
    .menu {
        &__block {
            padding-top: 100px;
        }
        &__link {
            font-size: 18px;
            line-height: 20px;
            &:before {
                display: none;
            }
        }
    }
    .promo {
        .title__fz20 {
            font-size: 17px;
        }
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
    }
    .sidepanel {
        top: 5%;
        height: 220px;
        &__divider {
            height: 40px;
            margin-top: -40px;
        }
    }
    .title__fz20 {
        font-size: 18px;
    }
    .title__fz36 {
        font-size: 24px;
        line-height: 40px;
    }
    .about {
        padding: 100px 0 100px 0;
        &__main_photo {
            max-width: 300px;
            height: 440px;
            object-fit: cover;
        }
        &__information {
            margin-left: 40px;
        }
        &__information {
            width: 300px;
        }
        &__skill-blocks {
            position: relative;
            width: 320px;
            margin-top: 20px;
            display: block;
        }
        &__skill {
            margin-left: 10px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 300px);
            column-gap: 20px;
            padding: 50px 0 0 0px;
        }
    }
    .skill {
        &__items {
            grid-template-columns: repeat(2, 270px);
            margin-top: 30px;
            justify-content: center;

        }
        &__percents {
            grid-template-columns: repeat(2,300px);

        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(4,160px);
            grid-template-rows: repeat(2,160px);
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: 370px;
            justify-content: center;
        }
    }
    .contacts {
        &__wrapper {
            max-width: 700px;
            grid-template-columns: 300px 360px;
        }
        &__form {
            grid-template: 40px 105px 40px / repeat(2,170px);
        }
        &__btn {
            width: 180px;
            height: 45px;
            a {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
        left: 0;
    }
    .menu {
        &__block {
            padding-top: 80px;
        }
        &__link {
            font-size: 15px;
            line-height: 20px;
            &:before {
                display: none;
            }
        }
    }
    .promo {
        .title__fz20 {
            font-size: 17px;
        }
        &__title {
            font-size: 30px;
            line-height: 45px;
        }
    }
    .sidepanel {
        display: none;
    }
    .about {
        padding: 50px 0;
        &__skill-blocks {
            width: 240px;
        }
        &__information {
            width: 270px;
            margin-left: 20px;
        }
        &__subtitle {
            margin-top: 26px;
        }
        .divider {
            margin-top: 15px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 300px;
            justify-content: center;
            row-gap: 40px;
        }
    }
    .skill {
        padding-top: 40px;
        &__items {
            grid-template-columns: 270px;
        }
        &__item {
            margin-bottom: 10px;
        }
        &__percents {
            grid-template-columns: 300px;
            justify-content: center;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: 280px;
            grid-template-rows: 280px;
            justify-content: center;
            gap: 20px;
            .vertical {
                grid-row: auto;
                grid-column: auto;
                height: 280px;
                width: 280px;
            }
            .horizontal {
                grid-row: auto;
                grid-column: auto;
                height: 280px;
                width: 280px;
            }
        }
    }
    .contacts {
        &__photo {
            img {
                max-width: 100%;
                max-height: 320px;  
            }
            
        }
        &__wrapper {
            max-width: 550px;
            grid-template-columns: 209px 290px;
        }
        &__form {
            grid-template: 40px 85px 40px 40px/ repeat(2,130px);
        }
        &__triggers {
            grid-row: 3/5;
        }
        &__btn {
            order: 2;
            width: 180px;
            height: 45px;
            grid-row: 4/5;
            a {
                font-size: 14px;
            }
        }
        &__policy {
            order: 1;
        }
    }
}
@media (max-width: 575px) {
    .container {
        width: 90%;
    }
    .promo {
        background-position-x: 60%;
        .title__fz20 {
            font-size: 15px;
            top: -20%;
        }
        &__title {
            font-size: 20px;
            line-height: 40px;
            position: relative;
            line-height: 35px;
        }
        &__btns {
            position: relative;
            width: 250px;
        }
        a.promo__link {
            font-size: 13px;
            font-weight: 700;
            width: 120px;
        }
    }
    .about {
        &__information {
            margin: 0 auto;
            margin-top: 20px;
        }
        &__main_photo {
            display: block;
            margin: 0 auto;
            height: 340px;
            width: 100%;
            object-fit: cover;
        }
        &__wrapper {
            display: block;
        }
        &__information {
            width: 300px;
        }
        &__skill-blocks {
            position: relative;
            width: 280px;
            margin-top: 35px;
            display: block;
            left: 0;
        }
        &__skill {
            margin-left: 20px;
            width: 260px;
        }
    }
    .menu {
        &__block {
            padding-left: 10px;
            padding-top: 100px;
            width: 250px;
        }
    }
    .price {
        padding-bottom: 80px;
        &__wrapper {
            grid-template-columns: 260px;
        }
    }
    .contacts {
        &__photo {
            display: none;     
        }
        &__wrapper {
            position: relative;
            display: block;
            margin: 0 auto; 
        }
        &__form {
            display: block;
            margin: 0 auto;
            width: 95%;
            margin-top: 30px;
            input {
                height: 45px;
                margin-bottom: 30px;
            }
        }
        &__btn {
            display: block;
            margin: 0 auto;
            width: 220px;
            height: 45px;
        }
        &__policy {
            margin: 0 auto;
            span {
                display: block;
                margin: 0 auto;
                width: 180px;
            }
            input {
                top: 15px;
                position: relative;
            }
        }
        &__textarea {
            height: 150px;
        }
        &__triggers {
            grid-template-columns: auto;
            gap: 0;
        }
    }
}